* {
    margin: 0;
    padding: 0;
}


#add_admin_form {
    width: 60%;
    margin: 3% auto !important;
    padding: 2%;
}

#add_admin_form label {
    color: #ef000f;
    font-size: 1.3vw;
}

#add_admin_form input,
#add_admin_form textarea {
    border: 1px solid gray;
}

#add_admin_form input[type="submit"] {
    color: white;
    background-color: #ef000f;
    padding: 0.1% 1.5%;
    font-size: 1.2vw;
    border: none;
    border-radius: 5px;
}